<tr>
  <td scope="row"><%= enquiry.enquirer_id %></td>
  <td><%= enquiry.enquirer_name %></td>
  <td><%= enquiry.enquirer_email %></td>
  <td><%= enquiry.message %></td>
  <td><%= enquiry.source %></td>
  <td><%= EnquiryPresenter.new(enquiry, params).actions %></td>
</tr>
